<h1> Welcome </h1>

<h2><%= link_to 'Register New School', new_school_registration_path %></h2>
<h2><%= link_to 'Teacher Sign Up', new_teacher_registration_path %></h2>
<h2><%= link_to 'Student Sign Up', new_student_registration_path %></h2>



<h3><%=link_to 'Student Sign In', new_student_session_path %></h3>
<h3><%=link_to 'Teacher Sign In', new_teacher_session_path %></h3>
<h3><%=link_to 'School Sign In', new_school_session_path %></h3>
